* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body
{
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  background-color: #f0f0f0;
}
code
{
  background-color: rgba(200,200,200,0.7);
  border-radius: 7px;
  padding: 0px 7px;
}
em
{
  font-style: oblique;
}
.headder
{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 120px;
  background-color: #235796;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 1500;
}
.headder h1
{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  font-size: 2.5em;
}
.nav
{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.1em;
  background-color: #ffcc00;
  height: 43px;
}
.nav
.link
{
  width: calc(100% / 4);
  height: 43px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #0000cc;
  font-weight: bold;
  border-radius: 20px;
  z-index: 2;
}
/* .nav
.link:hover
{
  color: white;
  background-color: #10101079; 
} */
.nav
#naver
{
  position: absolute;
  right: calc((100% / 4) * 2);
  z-index: 1;
  background-color: white;
  transition: 0.4s;
}
@media only screen and (max-width: 525px) 
{
  .nav
  {
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 200px;
  }
  .nav
  .link:hover
  {
    background-color: white;
  }
  #naver
  {
    display: none;
  }
}
.wrapper
{
  width: 100%;
  background-color: rgba(240,240,250);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.table
{
  position: sticky;
  top: 43px;
  width: 340px;
  height: 200px;
  font-size: 1.2em;
  text-align: right;
  align-self: flex-start;
  padding-right: 20px;
}
.table ul li
{
  list-style-type: none;
  border-bottom: 1px solid black;
}
.table ul li a
{
  text-decoration: none;
}
.container
{
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  padding: 0px 7px;
  width: 80%;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
@media only screen and (max-width: 650px)
{
  .table
  {
    display: none;
  }
  .container
  {
    width: 97%;
  }
}